.masthead {
  height: 610px;
  min-height: 500px;
}

p.font-title {
  font-family: "Catamaran", Helvetica, Arial, sans-serif;
  font-size: 50px;
  font-weight: 200px;
  color: #000;
  line-height: 60px;
}
