.title {
  font-family: monospace;
  font-weight: bold;
}

.menu .buttons {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: relative;
  top: 1px;
  margin-right: 5px;
  left: 6px;
  display: inline-block;
}

.close {
  background-color: #ff3b47;
  border-color: #9d252b;
}

.close:hover {
  background-color: #9d252b;
}

.minimize {
  left: 12px;
  background-color: #ffc100;
  border-color: #9d802c;
}

.minimize:hover {
  background-color: #ac8100;
}

.zoom {
  left: 17px;
  background-color: #00d742;
  border-color: #049931;
}

.zoom:hover {
  background-color: #049931;
}

.menu {
  width: 550px;
  height: 25px;
  background-color: #bbb;
  margin: 0 auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.screen {
  background-color: #243238;
  opacity: 1;
  width: 550px;
  height: 300px;
  margin: 0 auto;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

span {
  color: #fff;
  font-weight: bold;
  font-family: monospace;
  white-space: normal;
  width: 0;
}
