.masthead {
  height: 610px;
}

p.font-title {
  font-family: "Catamaran", Helvetica, Arial, sans-serif;
  font-size: 50px;
  font-weight: 200px;
  color: #000;
  line-height: 60px;
}

@media only screen and (max-width: 1000px) {
  div.title {
    text-align: center;
    margin-top: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .terminal {
    display: none;
  }
}
